@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

#container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2.20vh auto 0;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(217, 180, 46);
    padding: 10px;
    border-radius: 5px;
}

header img {
    width: 15vw;
    height: auto;
    opacity: 90%;
    margin-right: 20px;
}

header img:hover {
    width: 15.2vw;
    opacity: 100%;
}

header h1 {
    font-size: 3vw;
    margin-top: 5px;
    text-shadow: 1px 2px 1px black;
    color: rgb(41, 32, 32);
    opacity: 95%;
}

header h1:hover {
    font-size: 3.1vw;
    text-decoration:underline dotted;
    opacity: 100%;
}

nav {
    background-color: #181414;
    border-radius: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}



nav ul > li:hover {
    background-color: #555;
    color: white;
}

#submenu {
    display: none;
    position: absolute;
    background-color: #555;
    border-radius: 5px;
}

nav ul > li:nth-child(2):hover #submenu {
    display: flex;
    flex-direction: column;

}


nav ul li > a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 15px;
    font-size: 2.5vh;
}

nav ul li:nth-child(2):hover #submenu li > a{
    font-size: 1.1vw;
    padding: 15px;
    padding-bottom: 20px;
}

nav ul li:nth-child(2):hover #submenu li > a:hover{
    background-color: #333;
}

